*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header{
	padding: 3% 12%;
	background-color: #ededed;
	
}
header img{
	float: left;
}
header nav{
	float: left
    width: 400px;
    margin-left: 65%;
    color: #979696;
}
a{
	text-decoration: none;
    color: #979696;
}
header ul li a:active{
    color: red;
}
header a:hover{
    color: #39a0d6;
}
header nav ul li{
	display: inline;
	padding-right: 2%;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
    font-weight: 600;
    font-family: monospace;
    color: #979696;
    

}

header li{
    
}

#app-slider{
	padding: 3% 12%;
	background-color: #e6e6e6;	
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	box-shadow: 10px black;
    background-image: url("../img/appslider.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;  
}
/*
#app-slider img{
    overflow: visible;
    float: right;
    bottom: 0px;
}
*/
.slide{
    border: 1px solid black;
    width: 135px;
    height: 90px;
	float: left;
	margin-right: 2%;
    background-color: black;
}
#key-features{
	padding: 3% 12%;
    background-color: #ededed;
}
#key-features ul li{
	float: left;
	width:140px;
	height: 95;
    padding-right: 4%
}
/*
#phone{
    position: absolute;
    left: 61.5%;
    bottom: 35.5%;
}
*/
#main-content{
    padding: 3% 12%;
    background-color: #e8e8e8;
    border-top: 1px solid white;
	border-bottom: 1px solid white;
}
#main-content .content{
    float: left;
    margin-right: 10px;
    width: 48%;
    padding: 0;
}
#client-testimonials{
    background-color: #ffffff;
    padding: 1% 12%;
}
#client-testimonials #first{
    color: #5c5c5c;
    text-transform: uppercase;
}
#client-testimonials #second{
    color: #3a9cd4;
    font-style: italic;
}
#client-testimonials blockquote{
   color: #acabab;
    font-style: italic;
}
#client-testimonials h3,p,blockquote{
    float: left;
    padding-right: 1%;
}
footer{
    background-color: #1f1f1f;
    padding: 0 12%;
    color: white;
}
footer div{
    float: left;
    width: 46%;
    padding: 2% 0;
}
footer #left label{    
    color: #1b95d5;
}
#left,#right{
    padding: 2% 2% 0 0;
}
